@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
<div id="pic">
    <img src="~/images/cognine-mind-q.png"/>

</div>
<div>

    <div class="topnav" id="mynav">
        <Button href="">HOME</Button>
        <div class="dropdown">
            <Button class="drop-btn">MANAGE-BATCHES</Button>
            <div class="dropdown-content"><a asp-controller="Home" asp-action="Batch">Addbatch</a>
              <a asp-action="UpdateBatch">Viewbatch</a>
                <a asp-action="OverView">OverView</a>
            </div>
          </div>
        <Button >TASKS</Button>
        

        <Button href="#">NOTIFICATIONS</Button>
        <Button href="#">ABOUT</Button>
    </div>

</div>

<div class="child"><img src="~/images/cogninelogo.jpg" /></div>

<div id=traine> <img id="c5"src="~/images/trainne.jpg" /> </div>

