@model TrainnePortal.Models.User.SubBatch

@{
    Layout = null;
}

<style>
    body {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        justify-items: center;
        align-items: center;
        background-image: linear-gradient(#ffc0cb5e,#87ceeb4f);
        background-repeat: no-repeat;
        background-size: cover;
    }
   

    #main-holder {
        width: 50%;
        height: 50%;
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0px 0px 5px 2px black;
    }

    #login-form {
        align-self: flex-start;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .subbatch::placeholder {
        color: #3a3a3a;
    }

    .subbatch {
        border: none;
        border-bottom: 1px solid #3a3a3a;
        margin-bottom: 60px;
        border-radius: 3px;
        outline: none;
        padding: 0px 0px 5px 5px;
        display:block;
    }

    #btn {
        width: 100%;
        padding: 7px;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        background-color: #3a3a3a;
        cursor: pointer;
        outline: none;
    }
   
    

   
</style>

    
<main id="main-holder">
    <h4 style="background-color:darkgreen;border:2px solid;color:white;font-family:'Times New Roman';width:200px;height:20px;text-align:center">CREATE-SUB-BATCH</h4>
        <form method="post" asp-action="CreateSubBatch">
    
     

        <input type="text"  class="subbatch" placeholder="SubBatch Name" asp-for="BatchName">
        <input type="text"   class="subbatch" placeholder="Course" asp-for="Course">
      <button id="btn">sumbit</button>
    
</form>
   
</main>
