@model TrainnePortal.Models.User.Registration

@{
    Layout = null;
}


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<img src="~/images/cognine-mind-q.png" />
<h3>Registration-Form</h3>
<hr>
<div id="class">
    <form asp-action="Registration" method="post" enctype="multipart/form-data">
        <label>EmployeId<span>*</span></label>
        <input type="number" placeholder="enter the EmployeId" asp-for="EmployeId"/>
        <label>FirstName<span>*</span></label>
        <input type="text" placeholder="enter the name" asp-for="firstName" />
        <label>LastName<span>*</span></label>
        <input type="text" placeholder="enter the name" required asp-for="lastname" />
        <label>FatherName<span>*</span></label>
        <input id="fname" type="text" placeholder="enter" required asp-for="father_Name"/><br />
        
        <label>BirthDate<span>*</span></label>
        <input type="date"  asp-for="birthDate" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>Degree<span>*</span></label>
        <input type="text" placeholder="enter coures with branch" asp-for="degree" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>Branch<span>*</span></label>
        <input type="text" placeholder="enter your branch" asp-for="branch" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>College<span>*</span></label>

        <input type="text" placeholder="enter college Name" asp-for="college" /><br />
        <label>YearOfPassed<span>*</span></label>
        <input type="text" placeholder="enter college Name" asp-for="passOutYear" />
        <label>Address<span>*</span></label>
        <input type="text" placeholder="enter your mail" asp-for="Address" />&nbsp;&nbsp;
        <label>Pincode<span>*</span></label>
        <input type="number" placeholder="enter college Name" asp-for="pincode" />
        <label>Contact-No<span>*</span></label>
        <input type="number" placeholder="enter your mobile number" asp-for="mobile_number"/><br />
        <label>Profile-pic</label><span>*</span>
        <input type="file" accept="image/png, image/jpeg" asp-for="Image"/>
        @Html.RadioButtonFor(x=>x.Gender,"MALE")<span class="gender">Male</span>
        @Html.RadioButtonFor(x=>x.Gender,"FEMALE")<span class="gender">Female</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <label>Email<span>*</span></label>
        <input type="email" placeholder="enter your mail" asp-for="Email" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>DOJ<span>*</span></label>
        &nbsp;&nbsp;&nbsp; 
        <input type="text" placeholder="enter Today date" asp-for="DOJ" />

        <button>Submit</button>

    </form>
    
</div>