li {
    text-align: center;
    display: flex;
}

.topnav {
    display: grid;
    background-color: honeydew;
    width: 200px;
    height: 660px;
    float: left;
    overflow: hidden;
}

.child {
    float: left;
    margin-left: 35%;
}

p {
    text-align: center;
}

button {
    text-align: center;
    color: black;
    background-color: inherit;
    border: none;
}

    button:hover {
        background-color: wheat;
    }

img {
    width: 200px;
}

#pic {
    background-color: whitesmoke;
    border-radius: 10px;
}

.dropbtn {
    background-color: honeydew;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    display: grid;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    margin-left: 200px;
    display: block;
}


#traine {
   
    float:left;
  
  
       
}

#c5 {
    margin-top:25px;

    width: 1100px;
    height: 500px;

}
.dropdown-content a:hover{ background-color:navajowhite;

}
