.batch {
    margin-left: 30%;
    width: 400px;
    height: 450px;
    background-color:whitesmoke;
    margin-top: 5%;
    border-radius: 10%;
}
input{
  padding:6px;
  margin:0px 15px;
 }
button{
    height:30px;
    width:60px;
    background-color:white;
}
.case{
    margin-top:50px;
    padding:20px;
    display:flex;
 
    }
span{
    color:red;
}
body {
    background-image: linear-gradient(#ffd89b, #19547b);
}
button:hover{
    background-color:wheat;
}
table{
    border:solid 1px black
}