
table, th, td {
    margin-top: 0%;
    margin-left: 28%;
    padding: 15px;
    border-collapse: collapse;
}

table {
    border: 1px solid black;
    border-radius: 15px;
}

body {
    background-image: linear-gradient(#87ceeb40,#0a090900);
    background-repeat: no-repeat
}
th {
    background-color: black;
    border-collapse: collapse;
    color: white;
    height: 10px;
}

tr:nth-child(2n+1) {
    background-color: white;
}

tr:nth-child(2n) {
    background-color: whitesmoke;
}
h1 {
    margin-left: 20%;
    margin-top: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
