
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
h1{
    margin-left:28%;
    margin-top:9%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
.dropdown:hover .dropdown-content {
    margin-left: 0px;
    display:block;
}
th {
    background-color: black;
    border-collapse: collapse;
    color: white;
    height: 10px;
}

tr:nth-child(2n+1) {
    background-color: white;
}

tr:nth-child(2n) {
    background-color: whitesmoke;
}

a:link {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: royalblue;
    text-decoration: blink
}



table, th, td {
    margin-top: 0%;
    margin-left: 28%;
    padding: 15px;
    border-collapse: collapse;
}

table {
    border: 1px solid black;
    border-radius: 15px;
}

body {
    background-image: linear-gradient(#87ceeb40,#0a090900);
    background-repeat: no-repeat
}
   