@model DemoApplication.Models.Context.Employe

    <form method="get" action="Fetch">
  <label>ID</label>
    <input asp-for="EmployeId"placeholder="enter the id" type="number" />
<button asp-action="Details" asp-route-id="EmployeId">submit</button>
    </form>

