@model IEnumerable<TraineesManagementSystem.Models.BatchDetails>

@{

    Layout = "AdminLayout";

}
<link rel="stylesheet" href="~/css/Details.css">
<script src="https://kit.fontawesome.com/295a130e43.js" crossorigin="anonymous"></script>

<div id="createBatch">
    <form>
        <button id="createBatchBtn" type="submit" asp-action="CreateBatch" asp-controller="AdminView">Create Batch</button>
    </form>
</div>

<h1>BatchesDetails</h1>


    
        @if (Model!=null)
        {
@foreach (var item in Model) {
            <div style="background-color:white;margin-left:10px;height:150px;width:270px;text-align:center;float:left;padding:30px; border-radius:30px; ">


            <i class="fa-solid fa-users-medical"></i>  <br><br>     @Html.DisplayFor(modelItem => item.BatchName)



            <br><br>       <a asp-action="DeleteBatch" asp-route-BatchId="@item.BatchId"><i class="fa-solid fa-trash"></i></a>
         
           
                     <a asp-action="EveryBatchDetails" asp-controller="AdminView" asp-route-BatchId="@item.BatchId"><i class="fa-solid fa-circle-info"></i></a> |

            
                        <a asp-action="EditBatch" asp-controller="AdminView" asp-route-BatchId="@item.BatchId"><i class="fa-solid fa-pen-to-square"></i></a>
          
            </div>

}
}

