@model TraineesManagementSystem.Models.SubBatchesDetails;
@{
    Layout = "AdminLayout";

}


<div class="Create">
	<h1>Create SubBatch</h1>
	<form method="post">

		<input asp-for="SubBatchName" type="text" placeholder="SubBatch Name" id="username" autocomplete="off" required>

		


		<input type="submit" asp-action="CreateSubBatch" />
	</form>
</div>